body {
    max-width: 1000px;
    min-height: 350px;
    margin: auto;
}



.navbar {
    text-align: center;
}

section {
    margin-top: 100px;
}

.logo {
    /* width: 100px; */
    height: 50px;
}

#img-android {
    text-align: center;
}

small {
    font-size: 1.2rem;
    align-items: center;
}

small > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

small > a:hover {
    color: rgb(255, 255, 255);
}