body {
    max-width: 1000px;
    min-height: 350px;
    margin: auto;
}



.navbar {
    text-align: center;
}

section {
    margin-top: 100px;
}

.logo {
    /* width: 100px; */
    height: 50px;
}

#img-android {
    text-align: center;
}

small {
    font-size: 1.2rem;
    align-items: center;
}

small > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

small > a:hover {
    color: rgb(255, 255, 255);
}

.css > i:hover{
    transition: 0.5s;
 
    color: #264de4;
}
.html > i:hover{
    transition: 0.5s;
    color:  #e34c26;
}

.javascript > i:hover{
    transition: 0.5s;
    color: #F0DB4F;
}